*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'judson','Advent Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background-color: white;
}
body{
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    overflow-y:scroll;
    overflow-x: hidden;
}
.header{
    height: 30vh;
    background-size: contain;
    background-position: center;
    background: linear-gradient(to top,rgba(67, 199, 133, 0.8),white); ;
    position: relative;
}
.left-header{
    height: 30vh;
    width: 28%;
    background-image: url(./IMG-20210224-WA0018.jpg),linear-gradient(to top,rgba(128, 128, 128, 0.3),white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.right-header{
    position: absolute;
    left: 28.5%;
    top: 0%;
    width: 75%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
h1{
    position: absolute;
    top: 50px;
    left: 3%;
}
.navbar{
   position: absolute;
   top: 17.5vh; 
}
li{
    display: inline-block;
    font-size: 25px;
    /* padding: 10px; */
}
a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border-style: solid;
    border-color: floralwhite;
    border-width: thin;
}
li a{
    text-decoration: none;
    border-radius: 10px;
}

.active{
    background: linear-gradient(to top,rgba(128, 128, 128, 0.8),white);
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
.Learning{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.Articles{
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
.About{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.Contacts{
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
/* .Newspapers{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
} */
.contents{
    position: relative;
    min-height: calc(100vh - 50px);
    height: 60vh;
    flex: 1 0 auto;
    margin-bottom: -50px;
}
.welcome{
    position: relative;
    top: 2vh;
    left: 0%;
    width: 100%;
    font-family: 'Advent Pro';
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to top,rgba(67, 199, 133, 0.8),white);
    color: royalblue;
    word-spacing: 20px;
    letter-spacing: 2px;
    /* line-height: 100%; */
}
.main{
    
    display: flex;
    flex-direction: row;
    height: 70%;
    min-height: 100%;
}
.right-content{
    width: 70%;
    border: 1px solid chocolate;
    position: relative;
    top: 50px;
    
}
.left-content{
    width: 30%;
    border: 1px solid chartreuse;
    position: relative;
    top: 50px;
}
.category1-title,.category2-title,.category3-title,.category4-title{
    color: rgb(189, 45, 45);
    letter-spacing: 10px;
    word-spacing: 10px;
    background: linear-gradient(to top,rgba(66, 44, 167, 0.8),white);
    text-align: center;
    font-size: 20px;
}
