*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 50px;
    background-color: white;
}
.header{
    height: 30vh;
    background-size: contain;
    background-position: center;
    background: linear-gradient(to top,rgba(66, 44, 167, 0.3),white); ;
    position: relative;
}
.left-header{
    height: 30vh;
    width: 28%;
    background-image: url(./IMG-20210224-WA0018.jpg),linear-gradient(to top,rgba(128, 128, 128, 0.3),white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.right-header{
    position: absolute;
    left: 28.5%;
    top: 0%;
    width: 75%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
h1{
    position: absolute;
    top: 50px;
    left: 20%;
}
.navbar{
   position: absolute;
   top: 17.5vh; 
}
li{
    display: inline-block;
    font-size: 25px;
    /* padding: 10px; */
}
a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border-style: solid;
    border-color: floralwhite;
    border-width: thin;
}
li a{
    text-decoration: none;
    border-radius: 10px;
}

.active{
    background: linear-gradient(to top,rgba(128, 128, 128, 0.8),white);
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
.Learning{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.Articles{
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
.About{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.Contacts{
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}
.Newspapers{
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}
.contents{
    position: relative;
}
.welcome{
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    font-family: fantasy;
    text-align: center;
    background: linear-gradient(to bottom,rgba(66, 44, 167, 0.8),white);
    color: black;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 100%;
}
.main{
    display: flex;
    flex-direction: row;
    height: 70%;
    min-height: 100%;
}
.right-content{
    width: 70%;
    border: 1px solid chocolate;
    position: relative;
    top: 50px;
    
}
.left-content{
    width: 30%;
    border: 1px solid chartreuse;
    position: relative;
    top: 50px;
}
.category1-title{
    color: rgb(189, 45, 45);
    letter-spacing: 10px;
    word-spacing: 10px;
    background: linear-gradient(to top,rgba(66, 44, 167, 0.8),white);
    text-align: center;
}
.cat1-link1{
    font-size: 12px;
    text-decoration-style:dashed ;
}
.footer{
    background: #030336;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
.footer .footer-bottom{
    background: #030a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
.footer .footer-content{
    border-color: blueviolet;
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    border: white solid 1px;
    padding: 20px;
}